    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="Git-Chat">
        <!-- SITE TITLE -->
        <title>Git-Chat</title>
        <!-- STYLESHEETS -->
        <link href="/css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link href="/css/style.css" rel="stylesheet">
        <link href="/css/responsive.css" rel="stylesheet">
        <!-- FAVICON  -->
        <link rel="icon" href="/img/favicon.ico">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">

        <!-- Dashboard Core -->
        <link rel="stylesheet" href="/css/dashboard.css">
        <script src="/js/dashboard.js"></script>
        <!-- c3.js Charts Plugin -->
        <link href="/plugins/charts-c3/plugin.css" rel="stylesheet" />
        <script src="/plugins/charts-c3/plugin.js"></script>
        <!-- Google Maps Plugin -->
        <!-- Input Mask Plugin -->
        <script src="/plugins/input-mask/plugin.js"></script>
    </head>
    <body>
        <!-- PRELOADER -->
        <div id="preloader">
            <div class="spinner"></div>
        </div>
          
        <div class="header py-4">
          <div class="container">
            <div class="d-flex">
              <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
                <span class="header-toggler-icon"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="header d-lg-flex p-0 collapse" id="headerMenuCollapse">
          <div class="container">
            <div class="row align-items-center">
                <% if(user) { %><div class="dropdown d-none d-md-flex">
                  <a class="nav-link icon" data-toggle="dropdown" onclick="document.getElementById('notifs').classList.toggle('open')">
                    <i class="fa fa-bell"></i>
                    <% if(user.notifications.length > 0) {%><span class="nav-unread"></span><% } %>
                  </a>
                  <div id="notifs" class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                    <% if(user.notifications && user.notifications > 0) { %>
                      <%- user.notifications.map(x => `
                        <a href="/${user.username}/activity?notification=${user.notifications.indexOf(x)}" class="dropdown-item d-flex">
                        <span class="avatar mr-3 align-self-center" style="background-image: url(demo/faces/female/18.jpg)"></span>
                        <div>
                          <strong>Rose</strong> deployed new version of NodeJS REST Api V3
                          <div class="small text-muted">2 hours ago</div>
                        </div>
                      </a>
                      `)%>
                      <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item text-center text-muted-dark">Mark all as read</a>
                    <% } else { %>
                      <a href="#" class="dropdown-item d-flex">
                        <div>
                          <strong>No new notifications!</strong>
                        </div>
                      </a>
                    <% } %>
                  </div>
                </div> 
                <div class="dropdown">
                  <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
                    <span class="avatar" style="background-image: url(<%= user.avatar_url %>)"></span>
                    <span class="ml-2 d-none d-lg-block">
                      <span class="text-default"><%= user.username %></span>
                      <% if(user.repos && user.repos.length > 0) { %><small class="text-muted d-block mt-1"><%= user.repos.length %> repositories</small> <% } %>
                    </span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                    <a class="dropdown-item" href="#">
                      <i class="dropdown-icon fa fa-user"></i> Profile
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="dropdown-icon fa fa-cog"></i> Settings
                    </a>
                    <a class="dropdown-item" href="#">
                      <span class="float-right"><span class="badge badge-primary"><% if(user.mentions && user.mentions.length > 0) {%><%= user.mentions.length %><%} %></span></span>
                      <i class="dropdown-icon fa fa-at"></i> Mentions
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/auth/logout">
                      <i class="dropdown-icon fa fa-sign-out-alt"></i> Sign out
                    </a>
                  </div>
                </div>
                <% } %>
              <div class="col-lg order-lg-first">
                <ul style="padding-left: 5%;" class="nav nav-tabs border-0 flex-column flex-lg-row">
                  <a class="header-brand" style="margin-top:1%" href="./index.html">
                      <img src="/img/logo-white.png" class="header-brand-img" alt="tabler logo">
                  </a>
                  <li class="nav-item">
                    <a href="/" class="nav-link"><i class="fa fa-home"></i>Home</a>
                  </li>
                  <li class="nav-item">
                    <a href="/about-us" class="nav-link"><i class="fa fa-users"></i> About us</a>
                  </li>
                  <% if(user) { %>
                  <li class="nav-item dropdown">
                    <a href="/<%= user.username %>/repos" class="nav-link"><i class="fab fa-github"></i> Repositories</a>
                  </li>
                  <% } %>
                </ul>
              </div>
            </div>
          </div>
        </div>