<!DOCTYPE html>
<html lang="en">
    <body>
        <% include ../main/head.ejs %>
        <section style="background-color: #fff;padding-top:2rem">
            <div style="background-color: #fff" class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="card card-profile">
                            <div class="card-body text-center">
                                <img style="max-width:15rem; margin-top:0.5rem" class="card-profile-img" src="<%= u.avatar_url %>">
                                <h3 style="color: white" class="mb-3"><%= u.login %></h3>
                                <p style="color: white" class="mb-4">
                                <%= u.bio %>
                                </p>
                                <a style="color:white; border-color: #fff" href="<%= u.html_url %>" class="btn btn-outline-primary btn-sm">
                                    <span class="fab fa-github"></span>
                                </a>
                                <% if(u.email) { %>
                                    <a style="color:white; border-color: #fff" href="mailto:<%= u.email %>" class="btn btn-outline-primary btn-sm">
                                        <span class="fa fa-envelope"></span>
                                    </a>
                                <% } %>
                                <% if(u.blog) { %>
                                    <a style="color:white; border-color: #fff" href="https://<%= u.blog %>" class="btn btn-outline-primary btn-sm">
                                        <span class="fa fa-hand-pointer"></span>
                                    </a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <% include ../main/footer.ejs %>
    </body>
</html>
